API_KEY_GOOGLE_MAPS=your_google_maps_api_key
OPENAI_API_KEY=your_openai_api_key
OUTPUT_DIRECTORY=output/pdfs
EXCEL_FILE_PATH=data/buildings/Gebaeudescreening_winti.xlsx
OUTPUT_DATASET_PATH=prediction_model/data/model_dataset.xlsx
OUTPUT_MODEL_PATH=prediction_model/models
COLLECTED_DATASET_PATH=prediction_model/data/processed/results.xlsx
