API_KEY_GOOGLE_MAPS=your_google_maps_api_key
OPENAI_API_KEY=your_openai_api_key
EXCEL_FILE_PATH=data/Gebaeudescreening_winti.xlsx
COLLECTED_DATA_PATH=data/collected_building_data.xlsx
OUTPUT_IMAGES_PATH=buildings
OUTPUT_DATASET_PATH=data/model_dataset.xlsx
OUTPUT_MODEL_PATH=prediction_model/models
TEST_DATASET_PATH=data/test_sample.xlsx